/*entire page background*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:lightcyan;
    text-align: center;
}


/*nagivation bar section*/
header{
    display: flex;
    align-items: center;
    background-color:  rgb(39,176,42,0.389);
}

.nav{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgb(39,176,42,0.0389);
}

.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav__item{
    display: inline;
    float: left;
    
}

.nav__item a{
     display: block;
     padding: 0px 30px;
     color: rgb(2, 0, 0);
     text-align: center;
     background-color: rgb(39,176,42,0.389);
     text-decoration: none;
}

.nav__item a:hover{
    background-color: rgb(24, 111, 25);
}

/*Home page*/
.Home{
    background-color: aquamarine;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 100%;
}
.Homepagetitle{
    background-color: aquamarine;
}
.Homepagesubtitle{
    background-color: aquamarine;
}

.img1{
    margin: 10px;
    padding: 10px;
    background: linear-gradient(145deg, orangered,rgb(46, 39, 39));
}


/*contacts page*/
.Contacts{
    background-color: rgba(116, 107, 240, 0.75);
    min-width: 100%;
}

.comments
{
    width: 749px;
    height: 623px;
}

label{
    background-color: rgba;
    background-color: rgba(116, 107, 240, 0.75);
}


/*projects page*/
.Projects{
    background-color: rgb(60, 208, 139);
    min-width: 100%;
    align-items: center;
}
.Projects h2{
    font: bold;
    padding: 10px;
    color: black;
    font: larger;
}

.Projects h3{
    margin:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}


/*About me page*/
.video{
    margin: 35px;
    padding: 10px;
    background: linear-gradient(to right, green, blue);
    }


/*footer*/
footer a{
    text-decoration: none;
    color: green;
    font-size: large;
}






/*making css file for phones*/
@media
only screen and (max-width: 480px){
    /*entire page background*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:lightcyan;
    text-align: center;
}

/*nagivation bar section*/
header{
    background-color:  rgb(39,176,42,0.389);
}

.nav{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(39,176,42,0.0389);
}

.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav__item{
    display: inline;
    float: left;
    
}

.nav__item a{
     display: block;
     padding: 0px 20px;
     color: rgb(2, 0, 0);
     text-align: center;
     background-color: rgb(39,176,42,0.389);
     text-decoration: none;
}

.nav__item a:hover{
    background-color: rgb(24, 111, 25);
}

/*Home page*/
.Home{
    background-color: aquamarine;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
    height:100%
}
.Homepagetitle{
    background-color: aquamarine;
}
.Homepagesubtitle{
    background-color: aquamarine;
}

.img1{
    width: 80%;
    margin-top: 20%;
}

.Homepagetitle{
    margin-top: 20%;
}

/*contacts page*/
.Contacts{
    background-color: rgba(116, 107, 240, 0.75);
    min-width: 100%;
}
.comments{
    max-width: 100%;
    max-height: 500px;
}
label{
    background-color: rgba;
    background-color: rgba(116, 107, 240, 0.75);
}


/*projects page*/
.Projects{
    background-color: rgb(60, 208, 139);
    max-width: 50%;
    align-items: center;
}
.Projects h2{
    font: bold;
    padding: 10px;
    color: black;
    font: larger;
}

.Projects h3 {
    margin:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}

.project_item{
    max-width: 100%;
}


/*About me page*/

.video{
    max-width: 85%;
    background: linear-gradient(to right, green, blue);
    }


/*footer*/
footer a{
    text-decoration: none;
    color: green;
    font-size: large;
}
}